.main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 10px;
  grid-template-areas:
    'menu header header'
    'menu swiper user'
    'menu offers user';
  .menu {
    grid-area: menu;
    background: #fff;
    border-radius: 10px;
    box-shadow: $shadow-1;
    height: 580px;
    &__header {
      width: 100%;
      height: 35px;
      background: $gray-color;
      border-bottom: 1px solid $gray-color;
      box-shadow: $shadow-2;
      svg {
        height: 24px;
        width: 24px;
      }
    }
    &__list {
      margin-top: 3px;
    }
    ul {
      li {
        height: 32px;
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover {
          background: $gray-color;
        }
        a {
          padding: 0 20px;
          display: flex;
          align-items: center;
          gap: 10px;
          color: #424141;
          svg {
            fill: #8c8484;
            stroke: #8c8484;
          }
        }
      }
    }
  }
  .header {
    grid-area: header;
    background: #fff;
    border-radius: 10px;
    box-shadow: $shadow-1;
    height: 40px;
  }
  .swiper {
    grid-area: swiper;
    background: #fff;
    border-radius: 10px;
    box-shadow: $shadow-1;
    height: 300px;
  }
  .offers {
    grid-area: offers;
    overflow: hidden;
    background: #fff;
    border-radius: 10px;
    box-shadow: $shadow-1;
    height: 220px;
    background: url('https://i.ibb.co/1fQhV8g/o1.webp');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .user {
    grid-area: user;
    background: #fff;
    border-radius: 10px;
    box-shadow: $shadow-1;
    height: 530px;
  }
}
