.main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 10px;
  grid-template-areas:
    'menu swiper user'
    'menu offers user'
    'menu offers user';
  @media (max-width: 1234px) {
    grid-template-columns: 1fr 3fr;
  }
  @media (max-width: 990px) {
    grid-template-columns: 80px 3fr;
  }
  @media (max-width: 710px) {
    grid-template-areas:
      'menu'
      'swiper'
      'offers';
    grid-template-columns: 1fr;
    .menu {
      width: 100% !important;
      height: fit-content !important;
      &__list {
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap;
        li {
          transform: translateY(-25px);
        }
      }
    }
  }
  .menu {
    grid-area: menu;
    background: #fff;
    border-radius: 10px;
    box-shadow: $shadow-1;
    height: 570px;
    @media (max-width: 990px) {
      width: 80px;
      svg {
        transform: scale(1.5);
      }
      &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    &__header {
      width: 100%;
      height: 35px;
      background: $gray-color;
      border-bottom: 1px solid $gray-color;
      box-shadow: $shadow-2;
      @media (max-width: 990px) {
        display: none !important;
        background: none !important;
        box-shadow: none !important;
      }
      svg {
        height: 24px;
        width: 24px;
      }
    }
    &__list {
      margin-top: 3px;
    }
    ul {
      li {
        height: 32px;
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover {
          background: $gray-color;
        }
        a {
          padding: 0 20px;
          display: flex;
          align-items: center;
          gap: 10px;
          color: #424141;
          svg {
            fill: #8c8484;
            stroke: #8c8484;
          }
          span {
            @media (max-width: 990px) {
              display: none;
            }
          }
        }
      }
    }
  }
  // .header {
  //   grid-area: header;
  //   height: 40px;
  //   display: flex;
  //   align-items: center;
  //   ul {
  //     display: flex;
  //     align-items: center;
  //     gap: 1rem;
  //     li {
  //       height: 100%;
  //       display: flex;
  //       align-items: center;
  //       font-size: 18px;
  //       color: $orange-color;
  //     }
  //   }
  // }
  .swiper {
    grid-area: swiper;
    background: #fff;
    border-radius: 10px;
    box-shadow: $shadow-1;
    height: 320px;
  }

  .offers {
    grid-area: offers;
    overflow: hidden;
    background: #fff;
    border-radius: 10px;
    height: 240px;
    background: url('https://i.ibb.co/1fQhV8g/o1.webp');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: $shadow-1;
  }
  .user {
    position: relative;
    grid-area: user;
    background: #fff;
    border-radius: 10px;
    box-shadow: $shadow-1;
    height: 570px;
    @media (max-width: 1234px) {
      display: none;
    }
    &__header {
    }
    &__container {
      padding: 1rem;
    }
    &__infos {
      position: absolute;
      top: 1rem;
      left: 50%;
      transform: translate(-50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        box-shadow: $shadow-1;
      }
      h4 {
        margin-top: 1px;
        text-transform: capitalize;
      }
      &_btns {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        button {
          width: 100px;
          height: 35px;
          border-radius: 20px;
          cursor: pointer;
          font-weight: 600;
          &:first-of-type {
            background: linear-gradient($orange-color, #fd55017b);
            color: #fff;
          }
          &:last-of-type {
            color: #555;
          }
        }
      }
    }
    &__links {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      flex-wrap: wrap;
      li {
        width: 44px;
        height: 44px;
        background: $gray-color;
        border-radius: 100%;
        display: grid;
        place-items: center;
        transition: all 0.2s;
        svg {
          width: 100%;
          height: 100%;
          stroke: $orange-color;
        }
        &:hover {
          background: $orange-color;
          svg {
            stroke: #fff;
          }
        }
        &:nth-last-child(2),
        &:nth-last-child(1) {
          svg {
            fill: $orange-color;
          }
          &:hover {
            svg {
              fill: #fff;
            }
          }
        }
      }
    }
    &__footer {
      position: absolute;
      bottom: 0;
      transform: rotate(180deg);
    }
  }
}
