$blue_color: #2f82ff;
$gray_color: #f8f8f8;
$orange-color: #f85606;
$light-error-color: #fd010169;
$error-color: #ed4337;
$success-color: #6cc070;

$shadow-1: rgba(99, 99, 99, 0.2) 0px 1px 8px 0px;

.container {
  max-width: 1700px;
  margin: 0 auto;
  padding: 1rem;
}

.btn_primary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background: $orange-color;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}
.btn_outlined {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: $blue_color;
  background: $gray_color;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  border-radius: 2px;
}
.flex {
  display: flex;
  align-items: center;
  gap: 5px;
}
.error {
  padding: 1rem;
  color: $error-color;
}
.success {
  padding: 1rem;
  color: $success-color;
}
